.Login {
    border: 5px solid #cadbea;
    color: #454b54;
    margin: 100px auto 10px auto;
    padding-top: 0px;
    height: 600px;
    text-align: center;
}

.Login h2{
    font-size: 2em;
    margin-bottom: 40px;
    padding-left: 130px;
    padding-right: 100px;
    text-align: left;
}

#enterPinHeading{
    margin-bottom: 10px;
    margin-left: 25px;

}

.Login h3{
    text-align: left;
    font-size: 2em;
    margin-top:0px;
    padding-left: 165px;
    padding-right: 100px;
}

.Login h3 span{
    padding-left: 12px;
}

.activeNumberMarker{
    color:#454b54;
}

.inactiveNumberMarker{
    color: #cadbea
}

#startGreeting{
    font-size: 1.5em;
    padding: 0;
    margin: 0 30px;
    float: right;
}

#startGreeting img{
    font-size: 1.5em;
    padding: 0;
    height: 150px;
    width: 150px;
}

.authActionsContainer{
    margin: 100px auto;
    width: 500px;
}

#insertCard{
    cursor: url('../img/mastercard.png'), auto;
}

#cardSlot{
    border: 5px solid #cadbea;
    margin-top:50px;
    height: 100px;
    width: 300px;
    background: #5a5a5a;
    cursor: url('../img/mastercard.png'), auto;
}

#cardSlot:hover{
    background-color: aquamarine;
}

.NumpadCols{
    width: 48px;

}

.NumpadCols Button:last-child{
    margin-top: 25px;
    text-align: left;
}
#pinGrid{
    width: 500px;
}

#pinGrid Button{
    font-size: 1.5em;
    width: 120px;
}

.ErrorDialogs{
}

.ErrorDialogs h2{
    text-align: center;
    font-size: 2em;
    color:#454b54;
}

.ErrorDialogs p{
    text-align: center;
    color:#454b54;
    margin-top:10px;
}
#warningText p{
   color: red;
}
#warningText img{
    margin-left: 40%;
}

#revokedCardImage{
    margin-left: 60px;
}

#logoutImage{
    margin: 0 auto 0 auto;
    padding: 0;
}
#logoutDialogTitle{
    padding-top: 0;
}

#logoutButtonBox{
    padding-right: 75px;
}

#logoutButtonBox Button{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
}
