.NavBar {
}
.NavBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}
.NavItem{
    height: 110px;
    flex-grow: 1;
    text-align: center;
    padding-top:15px;
    padding-bottom: 30px;
    background-color: #cadbea;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

}

.NavItemActive{
    height: 110px;
    flex-grow: 1;
    text-align: center;
    padding-top:15px;
    padding-bottom: 30px;
}

.NavItem img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.NavItemActive img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}