.App {
    color:#454b54;
}

a{
    font-weight: bold;
}
a:visited{
    color:#454b54;
}

main{
    display: block;
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
h1{
    font-size: 2em;
    margin-bottom: 30px;
    padding-left: 130px;
    padding-right: 100px;
    text-align: left;
}

main h2{
    margin-bottom: 30px;
    padding-left: 200px;
    padding-right: 100px;
    text-align: left;
}

a{
    font-size: 1.2em;
}

.BalanceBox {
    float: right;
    margin: 20px;
    background: #dedfe6;
    padding-left: 40px;
    padding-bottom: 10px;
}

.BalanceBox h2{
    font-size: 1em;
    text-align: right;
    margin-bottom: 2px;
    margin-right: 50px;
    padding-right: 20px;
}
.BalanceBox table{
    font-size: 1em;
}

.InfoHeader{
    text-align: center;
    font-size:3.5em;
    margin-top:100px;
}

.InfoText{
    text-align: center;
    font-size: 1.5em;
}
.Breadcrumb{
    display: inline-block;
    width: 500px;
}

.Breadcrumb ol {
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
}

.Breadcrumb li {
    display: inline;
}

.Breadcrumb li:after {
    content: '>'
}

.Breadcrumb li:last-child:after {
    content: ''
}
.Breadcrumb a{
    padding: 10px;
}

.SkipLink
{position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;}

.DuoButtonBox{
    margin-top: 50px;
    margin-right: 150px;
}

.DuoButtonBox Button{
    margin: 20px 20px 20px 20px;
    background-color: white;
}

.DuoButtonBox Button img{
    display: block;
}
.DuoButtonBox Button span{
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5em;
}
