.amountPicker{
    padding-left: 100px;
    padding-right: 100px;
}

.amountColumn{
    width: 200px;
    display: inline-block;
    text-align: center;
}

.amountColumn Button{
    display: block;
    font-size: 2.5em;
    margin: 0 auto 40px auto;
    width: 200px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: #454b54;
}
.amountTextBtn{
    width: 50px;
}

#otherAmountForm{
    margin-bottom: 40px;
}

#amountColLeft{
    float: left;
}

#amountCustom{
    display: block;
    font-size: 1.5em;
    padding: 20px;
    margin-bottom: 20px;
}
#otherAmountBtn{
    text-transform: capitalize;
}

#otherAmountInput{
    color:#454b54;
    font-size: 2.5em;
    margin-left: 40px;
    width: 150px;

}

#otherAmountSubmit{
    color: #299a75;
    width: 50px;
    height: 50px;
    margin: 0 auto 0 auto;
}

#otherAmountCancel{
    color: #f35b55;
    width: 50px;
    height: 50px;
    margin: 0 auto 0 auto;
}

#amountProgress{
    text-align: left;
    margin-left: 280px;
}

#outputHeader{
    margin-top: 0px;
}
.move30right h2{
    padding-left:30px;
}


.move50Left h1{
   margin-left: 45px;
}
.move50Left h2{
  margin-left: 15px;
}
.keepPosition{
}
.resultDecoration{
    width: 64px;
    margin-left: 280px;
}
.resultInfo{
    width: 400px;
    margin-left: 80px;
}

.TransactionReceipt h2{
    padding-left: 180px;
}

#receiptButtons{
    margin-right: 200px;
}

#resultOkButtons{
    margin-right: 60px;
}
#resultFailedButtons{
    margin-right: 95px;
}
#resultErrorText{
 padding-left: 15px;
}

#errorDecoration{
    margin-left: 309px;
}
#resultTokenExpiredText{
    margin-left: 20px;
}